node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
twilio.env

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Firebase build artifacts / cache / emulator data
# .firebase/hosting.*.cache
# .firebase/emulators/

# Consider adding this if the generated function code isn't needed in Git
.firebase/